#my-photo{
    width: 200px;
    height: 200px;
}
.carousel-inner > .carousel-item > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin:auto;
    width: 100%;
  }